<div (window:resize)="updateWidth()">
    <div
        class="drag-boundary" 
        *ngIf="width > 800 && isOutside"
        [style.left]="isLeft? 0 : 'auto'"
        [style.right]="isLeft? 'auto' : 0"
        [style.bottom]="grabHeight + 'px'"
    >
        <div
            class=outside-foot
            [style.borderRadius]="isLeft? '0 10px 10px 0' : '10px 0 0 10px'"
        >
            <div class=icon-container>
                <div class="handle" (pointerdown)="pointerDown()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>

                <a
                    *ngFor="let item of footerItems"
                    (click)="getAction(item.title)"
                    class="nav-button"
                >
                    <fa-icon [icon]="item.icon"></fa-icon>
                </a>

                <div class="handle" (pointerdown)="pointerDown()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </div>

    <nav *ngIf="!isOutside" class="menu-items">
        <div *ngFor="let item of footerItems">
            <a
                class="menu-navbutton"
                (click)="getAction(item.title)"
            >
                <fa-icon [icon]="item.icon"></fa-icon>
                {{item.title}}
            </a>
        </div>
    </nav>
</div>