<div class="menu-navbar" (window:resize)="updateWidth()">
    <div class="menu-wrapper">
        <div class="title">
            {{title}}
        </div>
        <div *ngIf="width > 750; else elseBlock">
            <nav class="menu-items">
                <div *ngFor="let item of menuItems">
                    <a mat-button [routerLink]="item.link" routerLinkActive="active">
                        <div class="menu-navbutton">
                            <fa-icon [icon]="item.icon"></fa-icon>
                            {{item.title}}
                        </div>
                    </a>
                </div>
            </nav>
        </div>
        <ng-template #elseBlock>
            <fa-icon (click)="toggleDrawer()" [icon]="drawer? faTimes : faBars" class="openclose"></fa-icon>
            <div
                [ngClass]="{
                    'sidenav-active': drawer,
                    'sidenav-inactive': !drawer
                }"
            >
                <div class="sidenav-wrapper">
                    <div class="sidenav-upper">
                        <div *ngFor="let item of menuItems">
                            <a mat-button (click)="toggleDrawer()" [routerLink]="item.link" routerLinkActive="active">
                                <div class="menu-navbutton">
                                    <fa-icon [icon]="item.icon"></fa-icon>
                                    {{item.title}}
                                </div>
                            </a>
                        </div>
                    </div>

                    <footer [isOutside]="false"></footer>

                </div>
            </div>
        </ng-template>
        
        
    </div>
    <!-- <div class=fade></div> -->
</div>