<div class="menu-navbar" (window:resize)="updateWidth()">
    <div class="menu-wrapper">
        <div class="title">
            {{title}}
        </div>

        @if (width > 800) {
            <div>
                <nav class="menu-items">
                    @for (item of menuItems; track item) {
                        <div>
                            <a
                                class="menu-navbutton"
                                [routerLink]="item.link"
                                routerLinkActive="active"
                            >
                                <fa-icon [icon]="item.icon"></fa-icon>
                                {{item.title}}
                            </a>
                        </div>
                    }
                </nav>
            </div>
        } @else {
            <fa-icon
                (click)="toggleDrawer()"
                [icon]="drawer? faTimes : faBars"
                class="openclose"
            ></fa-icon>

            <div
                [ngClass]="{
                    'sidenav-active': drawer,
                    'sidenav-inactive': !drawer
                }"
            >
                <div class="sidenav-wrapper">
                    <div class="sidenav-upper">
                        @for (item of menuItems; track item) {
                            <div>
                                <a
                                    class="menu-navbutton"
                                    (click)="toggleDrawer()"
                                    [routerLink]="item.link"
                                    routerLinkActive="active"
                                >
                                    <fa-icon [icon]="item.icon"></fa-icon>
                                    {{item.title}}
                                </a>
                            </div>
                        }
                    </div>

                    <footer [isOutside]="false"></footer>
                </div>
            </div>
        }
    </div>
    <!-- <div class=fade></div> -->
</div>