<div>
    <div class="home-panel">
        <div class="panel-text">
            <div class="panel-banner">
                <div class="panel-title">
                    Arnav Mehra.
                </div>
                <div class="panel-interests">
                    Software Engineer. Web Dev Instructor. Life-Long Learner.
                </div>
            </div>

            <div class="panel-description">
                <span>
                    Senior in Computer Science at Purdue that loves learning new languages, libraries, and frameworks, and building cool shit with them. Sometimes, I even make my own 👀.
                </span>
                <span>
                    Check out my projects <a href="/projects">here</a>.
                </span>
            </div>

            <div class="interest-container">
                <div>Interests:</div>
                <div class="interest">Web Applications</div>
                <div class="interest">Programming Languages</div>
                <div class="interest">AI</div>
            </div>
        </div>

        <div class="panel-feature">
            <img src="assets/seniorpic.jpg" alt="IMG">
        </div>
    </div>

    <!-- <div class="home-panel">
        <div class="panel-feature">
            <chess-embedded></chess-embedded>
        </div>
        <div class="panel-text">
            <div class="panel-title">One Problem At A Time</div>
            <div class="panel-description">
                Whether its a problem in my community or a puzzle I find 
                interesting, I will solve it with code.
                From course management to Chess, my projects have
                allowed me to learn about a variety topics in Computer Science
                and their applications to different types of problems.
            </div>
            <a class="panel-link" href="/projects" routerLinkActive="active">[See Projects]</a>
        </div>
    </div> -->
</div>
