<div (window:resize)="updateWidth()">
    <!-- <div style="height: 73vh"></div> -->
    <div class="home-panel" *ngIf="width > 650">
        <div class="panel-feature">
            <img src="assets/seniorpic.jpg" alt="IMG">
        </div>
        <div class=buffer></div>
        <div class="panel-text">
            <div class="panel-title">Who Am I?</div>
            <div class="panel-description">
                {{who_text}}
            </div>
        </div>
    </div>
    <div class="home-panel" *ngIf="width <= 650">
        <div class="panel-text">
            <div class="panel-title">Who Am I?</div>
            <div class="panel-description">
                {{who_text}}
            </div>
        </div>
        <div class="panel-feature">
            <img src="assets/seniorpic.jpg" alt="IMG">
        </div>
    </div>

    <div class="home-panel">
        <div class="panel-text">
            <div class="panel-title">One Problem At A Time</div>
            <div class="panel-description">
                Whether its a problem in my community or a puzzle I find 
                interesting, I will solve it with code.
                From course management apps to Chess algorithms, my projects have
                allowed me to learn about a variety CS topics and their applications
                to different types of problems.
            </div>
            <a class="panel-link" href="/projects" routerLinkActive="active">[See Projects]</a>
        </div>
        <div class=buffer></div>
        <div class="panel-feature">
            <chess-embedded></chess-embedded>
        </div>
    </div>
</div>
