.panel-text
    .panel-title
        font-size: 22px
        margin-bottom: 15px
        color: black
        padding: 8px
        border-radius: 3px 16px 3px 16px
        background: #8AB6F9
    .panel-description
        font-size: 16px
        margin-bottom: 10px
    .panel-link
        color: #CADCFC
        text-decoration: none

.panel-feature
    min-width: 300px
    width: 300px

img
    width: 100%
    border-radius: 10px

.home-panel
    display: flex
    justify-content: space-between
    align-items: center
    margin: 80px 0 120px 0
@media (max-width: 650px)    
    .home-panel
        flex-direction: column
        .buffer
            margin: 0
    .panel-feature
        margin-top: 20px
@media (min-width: 651px)
    .home-panel
        .buffer
            margin-left: 80px