<div class=card>
    <div class=entry>
        <div class=head>
            <div class=title>
                Associate SWE @ Capital One, <span>McLean, VA</span>
            </div>
            <div class=gpa>
                Spring 2025 - Present
            </div>
        </div>
        <div class=list>
            <li>Developed enhancements and features for the orchestrator and qualification services of Capital One’s in-app messaging platform using Java Spring Boot and AWS (Fargate, ECS, EC2, DynamoDB, Lambda).</li>
            <li>Migrated an orchestration API from Spring MVC to Spring WebFlux, leveraging reactive programming to improve thread utilization and boost max throughput by 50%.</li>
            <li>Helped lead a platform-wide migration of secret managers by authoring and distributing PRs, scripts, and documentation, which resulted in reducing secret costs by 75% and compliance with company-wide deadlines.</li>
            <li>Cut logging costs by 50%+ across 4 APIs by making state update logs asynchronous, eliminating intermediary log-forwarding services, and filtering out unnecessary logs with Log4j.</li>
            <li>Demonstrated agility by transitioning to a shorthanded team and immediately driving lasting impact by securing leadership buy-in for architectural and performance enhancement roadmaps, automated testing audits and left-shifting, better load testing tools, coding standards, and code linting.</li>
        </div>
    </div>

    <div class=entry>
        <div class=head>
            <div class=title>
                Web Applications Instructor @ Purdue, <span>West Lafayette, IN</span>
            </div>
            <div class=gpa>
                Fall 2024, Fall 2022
            </div>
        </div>
        <div class=list>
            <li>Lectured ~100 students on topics in web development including HTML, CSS, JavaScript, React.js, Express.js, MongoDB, and web security fundamentals.</li>
            <li>Cultivated technical communication skills by breaking down & discussing technical concepts 5-6 hours per week.</li>
            <li>Wrote and graded quizzes and assignments to assess student understanding and adapted lectures and teaching style accordingly.</li>
        </div>
    </div>

    <div class=entry>
        <div class=head>
            <div class=title>
                SWE Intern @ Alleo, <span>Carmel, IN</span>
            </div>
            <div class=gpa>
                Summer 2024
            </div>
        </div>
        <div class=list>
            <li>Building reactive widgets with states synced across multiple users using TypeScript, HTML, SCSS, and WebSockets. This includes checkboxes, grouped radio buttons, 3d model viewers, split timers, drawings, and more to come.</li>
            <li>Helping migrate the original Angular.js app to Solid.js.</li>
        </div>
    </div>
    
    <div class=entry>
        <div class=head>
            <div class=title>
                Algorithm Analysis TA @ Purdue, <span>West Lafayette, IN</span>
            </div>
            <div class=gpa>
                Fall 2023
            </div>
        </div>
        <div class=list>
            <li>Taught common algorithm paradigms and design approaches at a beginner-level to ~20 students on a weekly basis.</li>
            <li>Wrote several quizzes and graded hundreds of assignments on topics including divide and conquer, dynamic programming, greedy, graphs, complexity analysis, and reductions.</li>
        </div>
    </div>

    <div class=entry>
        <div class=head>
            <div class=title>
                SWE Intern @ Deloitte, <span>New York, NY</span>
            </div>
            <div class=gpa>
                Summer 2023
            </div>
        </div>
        <div class=list>
            <li>Worked on an agile team of 8 engineers to remake signup processes for Thomson Reuters law products.  </li>
            <li>Built demo sign up forms and customer interaction analytics tracking using TypeScript, React.js, Storybook, Redux-Saga, and Adobe Experience Manager.</li>
            <li>Ensured robust form validation by writing test cases and identifying potential issues using Jest and React Testing Library.</li>
        </div>
    </div>

    <div class=entry>
        <div class=head>
            <div class=title>
                SWE Intern @ Rogo, <span>Remington, IN</span>
            </div>
            <div class=gpa>
                Summer 2022
            </div>
        </div>
        <div class=list>
            <li>Built features for their soil-sample shipment tracking application using React.js, including systems for customizing shipment labels, QR code-based shipment identification, and image-based drop-off verification.</li>
            <li>Integrated client-server data synchronization via RxDB, ensuring the integrity of sample collection data despite unstable network connections in field.</li>
            <li>Alongside two engineers, migrated backend architecture from AirTable to Express.js, GraphQL, AWS Lambda, AWS S3, and DynamoDB, addressing immediate scalability and cost concerns.</li>
        </div>
    </div>
</div>

