<div class=card>
    <div class=head>
        <div class=title>
            Algorithm Analysis TA @ Purdue, <span>West Lafayette, IN</span>
        </div>
        <div class=gpa>
            Fall 2023
        </div>
    </div>

    <div class=head>
        <div class=title>
            SWE Intern @ Deloitte, <span>New York, NY</span>
        </div>
        <div class=gpa>
            Summer 2023
        </div>
    </div>
    <div class=list>
        <li>Built software within an agile scrum framework for Thomson Reuters law products Practical Law and Westlaw Edge.</li>
        <li>Implemented critical onboarding sections like demo sign-up and customer interaction analytics with React, Redux-Saga, and Adobe Experience Manager HTL (a domain-specific language for server-side rendering).</li>
        <li>Identified potential issues, fixed numerous bugs, and utilized React Testing Library to ensure a robust customer experience.</li>
    </div>

    <div class=head>
        <div class=title>
            Web Development TA @ Purdue, <span>West Lafayette, IN</span>
        </div>
        <div class=gpa>
            Fall 2022
        </div>
    </div>
    <div class=list>
        <li>Generated tangible value for 70 students by lecturing for Purdue University’s sole course on web development, CS 39000.</li>
        <li>Cultivated technical communication skills by breaking down & discussing technical concepts for 4-6 hours per week.</li>
        <li>Covered the practice and underlying concepts behind HTML, CSS, JS, React, Express.js, and MongoDB.</li>
    </div>

    <div class=head>
        <div class=title>
            SWE @ Rogo, <span>Remington, IN</span>
        </div>
        <div class=gpa>
            Summer 2022
        </div>
    </div>
    <div class=list>
        <li>Migrated backend from AirTable to AWS Lambda & DynamoDB to improve scalability, rewrote backend with Express.js & GraphQL.</li>
        <li>Rebuilt and refined core operations React app responsible for planning, creating, and tracking robotic soil sampling missions.</li>
        <li>Provided data integrity for on-site sample collection via RxDB client-server data replication and custom file backup mechanism.</li>
    </div>
</div>

