.app
    width: 100%
    display: flex
    justify-content: center

.content
    margin: 100px 0 0 0
    width: calc(100% - 160px)
    max-width: 1000px

@media (max-width: 750px)
    .content
        margin: 100px 0 0 0
        width: calc(100% - 60px)
    

.bg-component
    width: 100%
    position: absolute
    top: 0px
    left: 0px
    z-index: -1
    overflow: hidden

