.card
    padding: 30px 0px


    
.title
    font-size: 24px
    span
        font-size: 14px
.gpa
    color: rgb(215, 208, 238)



.list
    width: 100%
    margin: 20px 0 40px 25px

    div
        margin-bottom: 5px
        font-size: 18px
    li
        margin-left: 10px
        font-size: 14px
        span
            color: rgb(215, 208, 238)
        

@media (max-width: 470px)
    .body
        display: flex
        margin-bottom: 30px
        flex-direction: column
        .list
            margin: 10px 0 0px 10px
    .head
        width: 100%
@media (min-width: 471px)
    .body
        display: flex
    .head
        width: 100%
        display: flex
        justify-content: space-between