<div class=card>
    <div class=head>
        <div class=title>
            Purdue University, <span>West Lafayette, IN</span>
        </div>
        <div class=gpa>
            GPA: 4.00/4.00
        </div>
    </div>
    <div class=body>
        <div class=list>
            <div>Relevant Coursework</div>
            <li>CS 25100: Data Structures & Algorithms <span>(Java)</span></li>
            <li>CS 25000: Computer Architecture</li>
            <li>CS 33400: Computer Graphics <span>(C++)</span></li>
            <li>CP 39000-CP2: Competitve Programming II <span>(C++)</span></li>
            <li>CS 24000: Programming in C <span>(C)</span></li>
            <li>CS 18200: Discrete Mathematics</li>
            <li>CS 29000-CP1: Competitve Programming I <span>(C++)</span></li>
            <li>STAT 19000: Data Mine Seminar & Corporate Partners <span>(Python)</span></li>
            <li>CS 18000: Object-Oriented Programming <span>(Java)</span></li>
            <li>CS 31400: Numerical Methods <span>(Julia)</span></li>
            <li>MA 27900: Modern Math in Society</li>
            <li>STAT 41600: Probability</li>
        </div>
        <div class=list>
            <div>Organizations</div>
            <li>Website Development Club <span>(Executive Board, Project Lead)</span></li>
            <li>LaunchPad <span>(Mentor)</span></li>
            <li>The Data Mine: Corporate Partners Program <span>(Past Member)</span> </li>
            <li>The Anvil</li>
        </div>
    </div>
    

    <div class=head>
        <div class=title>
            HSE High School, <span>Fishers, IN</span>
        </div>
        <div class=gpa>
            GPA: 4.86/5.00
        </div>
    </div>
    <div class=body>
        <div class=list>
            <div>Relevant Coursework</div>
            <li>Software Development <span>(MERN Stack)</span></li>
            <li>AP Computer Science A <span>(Java)</span></li>
            <li>AP Computer Science Principles <span>(JavaScript)</span></li>
            <li>Ball State University: Linear Algebra</li>
            <li>Ball State University: Differential Equations</li>
            <li>Ball State University: Multivariable Calculus</li>
        </div>
        <div class=list>
            <div>Organizations</div>
            <li>HSE Apps</li>
            <li>CS Honors Society</li>
            <li>MATH Honors Society</li>
            <li>National Honors Society</li>
        </div>
    </div>
</div>

