<div class=card>
    <div class=entry>
        <div class=head>
            <div class=title>
                AWS, <span>Certified Cloud Practitioner</span>
            </div>
            <div class=gpa>
                Val #: KRHKNR1C01B4QG5N
            </div>
        </div>
    </div>

    <div class=entry>
        <div class=head>
            <div class=title>
                Undergraduate in Computer Science, Purdue University, <span>West Lafayette, IN</span>
            </div>
            <div class=gpa>
                GPA: 3.9/4.0
            </div>
        </div>

        <div class=body>
            <div class=titled-list>
                <div class=title>Activities</div>
                <div class=list>
                    <li>CS 390: Web App Programming <span>(Instructor)</span></li>
                    <li>LaunchPad <span>(Mentor)</span></li>
                    <li>Purdue Hackers <span>(Member)</span></li>
                    <li>CS 381: Algorithm Analysis <span>(Former Grader, Quiz Writer)</span></li>
                    <li>ACM SIGAPP <span>(Former Developer)</span></li>
                    <li>Data Mine Corporate Partners <span>(Former Data Analyst)</span> </li>
                </div>
            </div>

            <div class=titled-list>
                <div class=title>Algorithm Coursework</div>
                <div class=list>
                    <li>CS 588: Randomized Algoritms</li>
                    <li>CS 531: Computational Geometry</li>
                    <li>CS 381: Analysis of Algorithms <span>(Python)</span></li>
                    <li>CS 390-CP2: Competitve Programming II <span>(C++)</span></li>
                    <li>CS 290-CP1: Competitve Programming I <span>(C++)</span></li>
                    <li>CS 251: Data Structures & Algorithms <span>(Java)</span></li>
                    <li>CS 314: Numerical Methods <span>(Julia)</span></li>
                    <li>CS 334: Computer Graphics <span>(C++)</span></li>
                    <li>CS 182: Discrete Mathematics</li>
                </div>
            </div>

            <div class=titled-list>
                <div class=title>Software Development Coursework</div>
                <div class=list>
                    <li>CS 490: Virtual/Augmented Reality <span>(C#, Unity)</span></li>
                    <li>CS 307: Software Engineering I</li>
                    <li>CS 348: Information Systems <span>(SQL, Neo4j, MongoDB)</span></li>
                    <li>CS 180: Object-Oriented Programming <span>(Java)</span></li>
                </div>
            </div>

            <div class=titled-list>
                <div class=title>Systems Coursework</div>
                <div class=list>
                    <li>CS 354: Operating Systems <span>(C, C++, ASM)</span></li>
                    <li>CS 252: Systems Programming <span>(Bash, C, C++, ASM)</span></li>
                    <li>CS 250: Computer Architecture</li>
                    <li>CS 240: Programming in C <span>(C)</span></li>        
                </div>
            </div>

            <div class=titled-list>
                <div class=title>Security Coursework</div>
                <div class=list>
                    <li>CS 426: Security <span>(C, C++, ASM, Python)</span></li>
                    <li>CS 355: Cryptography</li>
                </div>
            </div>

            <div class=titled-list>
                <div class=title>Mathematics Coursework</div>
                <div class=list>
                    <li>STAT 416: Probability</li>
                    <li>STAT 355: Statistics for Data Science <span>(R)</span></li>
                    <li>MA 351: Linear Algebra</li>
                </div>
            </div>
        </div>
    </div>

    <div class=entry>
        <div class=head>
            <div class=title>
                HSE High School, <span>Fishers, IN</span>
            </div>
            <div class=gpa>
                GPA: 4.8/5.0
            </div>
        </div>
        <div class=body>
            <div class=titled-list>
                <div class=title>Activities</div>
                <div class=list>
                    <li>Code For Change (Lead Developer)</li>
                    <li>MATH Honors Society (Member, Tutor)</li>
                    <li>CS Honors Society (Member, Tutor)</li>
                    <li>National Honors Society (Member)</li>
                </div>
            </div>

            <div class=titled-list>
                <div class=title>Relevant Coursework</div>
                <div class=list>
                    <li>Software Development <span>(MERN Stack)</span></li>
                    <li>AP Computer Science A <span>(Java)</span></li>
                    <li>AP Computer Science Principles <span>(JavaScript)</span></li>
                    <li>Ball State University: Linear Algebra</li>
                    <li>Ball State University: Differential Equations</li>
                    <li>Ball State University: Multivariable Calculus</li>
                </div>
            </div>
        </div>
    </div>
</div>