<div class=card>
    <div class=head>
        <div class=title>
            AWS, <span>Certified Cloud Practitioner</span>
        </div>
        <div class=gpa>
            Val #: KRHKNR1C01B4QG5N
        </div>
    </div>

    <div class=head>
        <div class=title>
            Purdue University, <span>West Lafayette, IN</span>
        </div>
        <div class=gpa>
            GPA: 3.99/4.00
        </div>
    </div>
    <div class=body>
        <div class=list>
            <div class=sub-title>Relevant Coursework</div>

            <div class=sub-section>Algorithms</div>
            <li>CS 38100: Analysis of Algorithms <span>(Python)</span></li>
            <li>CS 39000-CP2: Competitve Programming II <span>(C++)</span></li>
            <li>CS 29000-CP1: Competitve Programming I <span>(C++)</span></li>
            <li>CS 25100: Data Structures & Algorithms <span>(Java)</span></li>
            <li>CS 31400: Numerical Methods <span>(Julia)</span></li>
            <li>CS 33400: Computer Graphics <span>(C++)</span></li>
            <li>CS 18200: Discrete Mathematics</li>
            
            <div class=sub-section>Application Programming</div>
            <li>CS 30700: Software Engineering I</li>
            <li>CS 34800: Information Systems <span>(SQL, Neo4j, MongoDB)</span></li>
            <li>CS 18000: Object-Oriented Programming <span>(Java)</span></li>
            
            <div class=sub-section>Systems Programming</div>
            <li>CS 25200: Systems Programming <span>(Bash, C, C++)</span></li>
            <li>CS 25000: Computer Architecture</li>
            <li>CS 24000: Programming in C <span>(C)</span></li>
            
            <div class=sub-section>Data Science</div>
            <li>STAT 19000: Data Mine Corporate Partners <span>(Python)</span></li>
            <li>STAT 35500: Statistics for Data Science <span>(R)</span></li>
            <li>STAT 41600: Probability</li>
        </div>
        <div class=list>
            <div class=sub-title>Organizations</div>
            <li>Website Development Club <span>(Executive Board)</span></li>
            <li>Purdue Hackers <span>(Member)</span></li>
            <li>ACM SigApp <span>(Member)</span></li>
            <li>LaunchPad <span>(Mentor)</span></li>
            <li>The Data Mine: Corporate Partners Program <span>(Former Member)</span> </li>
            <li>The Anvil <span>(Former Member)</span></li>
        </div>
    </div>
    

    <div class=head>
        <div class=title>
            HSE High School, <span>Fishers, IN</span>
        </div>
        <div class=gpa>
            GPA: 4.86/5.00
        </div>
    </div>
    <div class=body>
        <div class=list>
            <div class=sub-title>Relevant Coursework</div>
            <li>Software Development <span>(MERN Stack)</span></li>
            <li>AP Computer Science A <span>(Java)</span></li>
            <li>AP Computer Science Principles <span>(JavaScript)</span></li>
            <li>Ball State University: Linear Algebra</li>
            <li>Ball State University: Differential Equations</li>
            <li>Ball State University: Multivariable Calculus</li>
        </div>
        <div class=list>
            <div class=sub-title>Organizations</div>
            <li>HSE Apps</li>
            <li>CS Honors Society</li>
            <li>MATH Honors Society</li>
            <li>National Honors Society</li>
        </div>
    </div>
</div>

